.gradient-text {
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
}

/* index.css or App.css */

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Sora', 'Outfit';
}

/* ::-webkit-scrollbar {
  display: none;
} */
.cursor{
height: 20px;
width: 20px;
background-color: white;
border-radius: 50%;
position: fixed;
}

